## .NET Core
bin/
obj/
*.user
*.rsuser
*.suo
*.userosscache
*.sln.docstates

# Build Results
[Dd]ebug*/
[Rr]elease*/
x64/
x86/
build/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/

# Rider project files
.idea/

# VS Code
.vscode/

# Visual Studio
.vs/

# ASP.NET Scaffolding
ScaffoldingReadMe.txt

# User secrets
**/secrets.json

# dotenv environment files
.env

# JetBrains Rider
.idea/
*.sln.iml

# NuGet Packages
*.nupkg
*.snupkg
.nuget/
packages/
# Uncomment if using the NuGet server
# *.nupkg

# Test Results
TestResults/
*.trx
*.coverage
*.coveragexml
*.testsettings
*.vsmdi

# Microsoft Azure Web App publish settings
PublishProfiles/

# Resharper
_ReSharper*/
*.[Rr]e[Ss]harper
*.DotSettings.user

# Logs
*.log

# Node modules (if you use Node.js tools)
node_modules/

# npm logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Temporary files
*.tmp
*.bak
*.swp

#
shortenerfb.json